### Mount Drive

In [ ]:
# Mount Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
# The path below should point to the directory containing this notebook and 
# the associated utility files
os.chdir('drive/MyDrive/Colab Notebooks/FourthBrain/data/')
!ls

all_contacts.csv			 lstm.ipynb
df_complete.csv				 pageview_hist.csv
email_field_hist.csv			 preprocess_data_clustering.ipynb
event_hist.csv				 Reports
hub_spot_export_clean01212021.pkl	 students_conversion_clean01212021.pkl
hubspot_export.csv			 url_preprocess.ipynb
last-registered-event-field-history.csv

### Load Data

In [ ]:
# Import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from urllib.parse import urlparse

In [ ]:
# load data 
df = pd.read_csv('df_complete.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Preprocess Data

In [ ]:
# drop samples without pageview history
pageviews = df.drop(list(np.ravel(np.where(
    df['url0'] == 0 
    ))))

# drop useless column
pageviews = pageviews.drop(columns='Unnamed: 0')

In [ ]:
cols2drop = [
 'Became a Lead Date',
 'Became a Subscriber Date',
 'Became an Opportunity Date',
 'First Conversion Date',
 'First marketing email click date',
 'First marketing email open date',
 'First marketing email send date',
 'Last Activity Date',
 'Last marketing email click date',
 'Last marketing email name',
 'Last marketing email open date',
 'Last marketing email send date',
 'First Page Seen',
 'Last Page Seen',
 'Marketing emails opened',
 'Marketing emails delivered',
 'Marketing emails clicked',
 'Opted out of email: Events and Community',
 'Opted out of email: Program Announcements',
 'Opted out of email: The Batch',
 'Unsubscribed from all email',
 'Which of the following online courses have you taken from deeplearning.ai?',
 'Last Registered Event',
 'Last Registered Event Date',
 'Number of event completions',
 'Highest level of completed education',
 'Job Title or Function',
 'IP Country Code',
 'Associated Company ID',]

# drop columns and store in X
X = pageviews.drop(columns=cols2drop)

In [ ]:
# create dictionary of country encodings 
countries = dict(zip(X['IP Country'].unique(), list(range(len(s)))))

# map encodings to X
X['IP Country'] = X['IP Country'].map(countries)

In [ ]:
# create column identifying paid learners
r,m = np.where(X.iloc[:, 5:9] == 6)
X['purchase'] = 0
X['purchase'].iloc[r] = 1

In [ ]:
# save X to csv
X.to_csv('urls_encoded.csv')

In [ ]:
X

        Contact ID  Average Pageviews  ...  specialization  purchase
5              333                  3  ...               0         0
15             869                  1  ...               0         0
24            1071                  1  ...               0         0
36            1634                  0  ...               0         0
62            1991                  1  ...               0         0
...            ...                ...  ...             ...       ...
325012    53456301                  0  ...               0         0
325013    53463951                  0  ...               0         0
325018    53479151                  0  ...               0         0
325020    53485401                  3  ...               0         0
325021    53489801                  1  ...               0         0

[90345 rows x 11 columns]