In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from urllib.parse import urlparse

In [2]:
# load data
email_field_hist = pd.read_csv('data/email_field_hist.csv', encoding='utf-8').fillna(0)

all_contacts = pd.read_csv('data/all_contacts.csv', encoding='utf-8').fillna(0)

pageview_hist = pd.read_csv('data/pageview_hist.csv', encoding='utf-8').fillna(0)

event_hist = pd.read_csv('data/event_hist.csv', encoding='utf-8').fillna(0)

hubspot_export = pd.read_csv('data/hubspot_export.csv', encoding='utf-8').fillna(0)

C:\Users\Hedronstone\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Hedronstone\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Hedronstone\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print('email_field_hist shape:', email_field_hist.shape)
print('all_contacts     shape:', all_contacts.shape)
print('pageview_hist    shape:', pageview_hist.shape)
print('event_hist       shape:', event_hist.shape)
print('hubspot_export   shape:', hubspot_export.shape)

email_field_hist shape: (317256, 92)
all_contacts     shape: (6679, 29)
pageview_hist    shape: (325025, 9)
event_hist       shape: (317256, 92)
hubspot_export   shape: (336955, 34)

In [5]:
# Find non-numerical features 
hubspot_export.dtypes

# create list of hubspot_export.csv columns
hubspot_cols = ['Contact ID',
 'Became a Lead Date',
 'Became a Subscriber Date',
 'Became an Opportunity Date',
 'First Conversion Date',
 'First marketing email click date',
 'First marketing email open date',
 'First marketing email send date',
 'Last Activity Date',
 'Last marketing email click date',
 'Last marketing email name',
 'Last marketing email open date',
 'Last marketing email send date',
 'Average Pageviews',
 'First Page Seen',
 'Last Page Seen',
 'Number of Pageviews',
 'Number of Sessions',
 'Marketing emails opened',
 'Marketing emails delivered',
 'Marketing emails clicked',
 'Opted out of email: Events and Community',
 'Opted out of email: Program Announcements',
 'Opted out of email: The Batch',
 'Unsubscribed from all email',
 'Which of the following online courses have you taken from deeplearning.ai?',
 'Last Registered Event',
 'Last Registered Event Date',
 'Number of event completions',
 'Highest level of completed education',
 'Job Title or Function',
 'IP Country',
 'IP Country Code',
 'Associated Company ID']

In [6]:
X = hubspot_export[hubspot_cols]
X.shape

(336955, 34)

In [16]:
# Find non-numerical features 
hubspot_export.dtypes

hubspot_cols = ['Became a Subscriber Date', 'Became a Lead Date', 'First Conversion Date',
'First marketing email click date', 'First marketing email open date']

X = hubspot_export[hubspot_cols]

In [17]:
X

,Became a Subscriber Date,Became a Lead Date,First Conversion Date,First marketing email click date,First marketing email open date
0,0,2021-01-04 10:59:00,2021-01-04 10:59:00,0,0
1,0,2021-01-04 10:59:00,2021-01-04 10:59:00,0,0
2,0,2021-01-04 10:49:00,2021-01-04 10:49:00,0,0
3,0,2021-01-04 10:44:00,2021-01-04 10:44:00,0,0
4,0,2021-01-04 11:26:00,2021-01-04 11:26:00,0,0
...,...,...,...,...,...
336950,2019-07-19 10:27:00,0,0,2020-03-19 13:48:00,2019-08-18 07:57:00
336951,2019-07-19 10:27:00,0,0,0,2019-10-02 19:21:00
336952,2019-07-11 14:37:00,0,0,0,0
336953,0,2019-05-10 11:05:00,0,0,0
336954,0,2019-05-10 11:05:00,0,0,0