In [2]:
# Import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from urllib.parse import urlparse

In [3]:
# load data
pageview_hist = pd.read_csv('data/pageview_hist.csv', encoding='utf-8').fillna(0)
hubspot_export = pd.read_csv('data/hubspot_export.csv', encoding='utf-8').fillna(0)

C:\Users\Hedronstone\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
"""
0. 'Contact ID', 
1. 'Became a Lead Date', 
2. 'Became a Subscriber Date',
3. 'Became an Opportunity Date', 
4. 'First Conversion Date',
5. 'First marketing email click date', 
6. 'First marketing email open date',
7. 'First marketing email send date', 
8. 'Last Activity Date',
9. 'Last marketing email click date', 
10. 'Last marketing email name',
11. 'Last marketing email open date', 
12. 'Last marketing email send date',
13. 'Average Pageviews', 
14. 'First Page Seen', 
15. 'Last Page Seen',
16. 'Number of Pageviews', 
17. 'Number of Sessions', 
18. 'Marketing emails opened',
19. 'Marketing emails delivered', 
20. 'Marketing emails clicked',
21. 'Opted out of email: Events and Community',
22. 'Opted out of email: Program Announcements',
23. 'Opted out of email: The Batch', 
24. 'Unsubscribed from all email',
25. 'Which of the following online courses have you taken from deeplearning.ai?',
26. 'Last Registered Event', 
27. 'Last Registered Event Date',
28. 'Number of event completions', 
29. 'Highest level of completed education',
30. 'Job Title or Function', 
31. 'IP Country', 
32. 'IP Country Code',
33. 'Associated Company ID'
"""

cols = hubspot_export.columns
cols2use = [0, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 33]

In [31]:
df = pd.read_csv('X.csv')

In [40]:
cero = df.iloc[np.where(df['cluster'] == 0)]
uno = df.iloc[np.where(df['cluster'] == 1)]
dos = df.iloc[np.where(df['cluster'] == 2)]
tres = df.iloc[np.where(df['cluster'] == 3)]

In [41]:
cero

,Unnamed: 0,d1,h1,d2,h2,d3,h3,d4,h4,d5,h5,marketing emails clicked,marketing emails opened,marketing emails delivered,marketing effort,engagement score,∑ time,cluster
4,62,54.0,0.625694,0.0,0.0,0.0,0.0,133.0,0.067361,0.0,0.0,0.0,5.0,32.0,6.400000,0.0,37.538611,0
9,92,14.0,0.076389,0.0,0.0,0.0,0.0,490.0,0.009028,0.0,0.0,0.0,5.0,62.0,12.400000,0.0,100.817083,0
16,166,0.0,0.002083,0.0,0.0,0.0,0.0,140.0,0.095833,0.0,0.0,0.0,30.0,32.0,1.066667,0.0,28.019583,0
18,175,0.0,0.155556,0.0,0.0,0.0,0.0,156.0,0.934722,0.0,0.0,0.0,15.0,26.0,1.733333,0.0,31.418056,0
32,285,0.0,0.153472,0.0,0.0,0.0,0.0,40.0,0.131944,0.0,0.0,0.0,5.0,9.0,1.800000,0.0,8.057083,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92411,325011,0.0,0.381944,0.0,0.0,0.0,0.0,42.0,0.395833,0.0,0.0,0.0,6.0,7.0,1.166667,0.0,8.555556,0
92413,325013,15.0,0.762500,0.0,0.0,0.0,0.0,28.0,0.465972,0.0,0.0,0.0,2.0,8.0,4.000000,0.0,8.845694,0
92414,325018,21.0,0.856250,0.0,0.0,0.0,0.0,0.0,0.815278,0.0,0.0,0.0,1.0,2.0,2.000000,0.0,4.534306,0
92415,325020,0.0,0.000694,0.0,0.0,0.0,0.0,44.0,0.856944,0.0,0.0,0.0,1.0,8.0,8.000000,0.0,8.971528,0
92416,325021,0.0,0.000694,0.0,0.0,0.0,0.0,44.0,0.886806,0.0,0.0,0.0,7.0,8.0,1.142857,0.0,8.977500,0